<img src="/public/assets/img/img.jpg" alt="">
{{#each burgers}}
    <p>{{burger_name}}</p>
{{/each}}
<form action="/" method="POST">
<textarea name="name" id="burger-name" cols="30" rows="10"></textarea>
<button type="submit">Submit</button>
</form>